html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

header {
    text-align: center;
    background-image: url('../img/hero-section.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0.125em 0.25em 0.125em #d8cbcb;
}

h1 {
    font-size: 7vw;
    padding: 14rem 3rem;
}

h2 {
    font-size: 2.5rem
}

.line {
    height: 1px;
}

.contenedor-principal {
    scroll-padding-top: 100px;
}

@media (max-width: 600px) {
    .text-large {
      display: none;
    }
    h2 {
        margin-top: 20px !important;
        font-size: 10vw;
    }
}

